<h1> Here are good ideas ! </h1>

<div class="row" id="listing">

	<% @sharideas.each do |sharidea| %>
		<%= link_to "#{sharidea.title}", "#{sharidea.url}", target: :_blank %>
		<%= link_to 'Destroy', @sharidea, method: :destroy, data: { confirm: 'Are you sure?' } %>
	<% end %>
<div>

<div id="create-sharideas">


<%= render 'form' %>

</div>

<div id="back">
<%= link_to 'Back', sharideas_path %>
</div>

