<div id="show-user">

	<p>Your account</p>

	<%= @user.name %>

	<div> 
		Montrer la liste des projets dans lequel la personne connectée est engagée
	</div>
	
	<%= link_to "Edit your account", edit_user_registration_path%>

</div>