<div class="nested-fields">
	<%= f.label :skill_name%><br>
	<div class="form-group" id="skillstools">
		<%= f.text_field :name, class: "form-control"%>
	<div class="btn btn-default">
		<%= link_to_remove_association 'remove skill', f %>		
	</div>
	</div><br>
</div>