<div class="nested-fields">
	<div class="field">
		<%= f.label :tool_name%><br>
		<%= f.text_field :name%>
	<div class="btn btn-default">
		<%= link_to_remove_association 'remove tool', f %>		
	</div>
	</div><br>
</div>