<div class="container-fluid" id="main">

  <div class="row" id="screen">
    <p id="namesite">Build your world</p>
    <p id="pitchline">"La tâche de gouverner la terre va nous échoir. De là cette question : comment voulons-nous modeler l'avenir de l'humanité ?"</p>
  </div>

  <p class="alert"><%= alert %></p>
  <p id="notice"><%= notice %></p>

  <div class="row">
    <% @projects.each do |project| %>
          <div class="col-sm-4 pad-bot">
            <div class="border">
              <div class="row"><%= link_to project.name, project_path(project) %></div>
              <div class="row center"><%= project.description %></div>
            </div>
          </div>            
    <% end %>
  </div>

</div>