<div class="container-fluid">
	<div class="row center">
		<%= @project.name %> </br>
		<%= @project.description %>
		<div style="color:red;">
    		field tools
  		</div>
  		<div style="color:red;">
    		field skills
  		</div>
	</div>
</div>

<%# link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
