<div class="container-fluid">
	
	<div class="row" id="show_project_title">
		<%= @project.name %> </br>
	</div>
	
	<div class="row">
		
		<div class="col-sm-6"> 	
			<%= @project.description %>
			<div style="color:red;">
    			inside the description allow people to add one photo or one video
			</div>
		</div>
		
		<div class="col-sm-6">
			<div style="color:red;">
    			field tools
  			</div>
  			<div style="color:red;">
    			field skills
  			</div>			
		</div>

  	</div>

</div>

<%# link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
