/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";




/*all*/

body {
	background-color: #F8FFFF;
}

a {
	color: black;
}

#back {
	margin-top:30px;
}

#action_btn {
	border: none;
	background-color: white;
	margin-left: 20px;
	vertical-align: middle;
}
#action_btn input {
	margin-top: 20px;
	margin-left: 50px;
	border: none;
	background-color: white;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}


/*header*/

div#header.row{
	width: 100%;
	display: -webkit-inline-box;
	margin-left: 15px;
	margin-top: 15px;
}

#menu_btn {
	background-color: transparent;
	border: none;
	font-size: 40px;
	font-weight: normal;
	font-family:Futura;
	margin-left: 20px;
}

#menu {
	margin-left: 40px;
}

div#header.row a {
	font-size: 21px;
	font-family: Futura;
}

div#header.row a:hover {
	text-decoration: none;
}


/*modal*/

#modal {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

#modal a {
	color: black;
	vertical-align: middle;
	display: table-cell;
}

#modal a:hover {
	background: #ff7264;
	outline: none;
	text-decoration: none;
}

.modal-header {
	border: none;
}

.modal-body {
	margin: 50px;
}

.modal-footer {
	border: none;
}

#modal-cadre {
	width: 45%;
	list-style: none;
	float: left;
	text-align: center;
	height: 200px;
	background: #F8FFFF;
	margin: 0 0 1% 1%;
	font-weight: 200;
	display: table;
}

.dropdown-menu {
	top: 150%;
	left: 0;
	z-index: 1000;
	display: none;
	float: right;
	min-width: 100%;
	/* padding: 5px 0; */
	margin: 2px 0 0;
	margin-top: 200px;
	list-style: none;
	font-size: 14px;
	text-align: center;
	background-color: transparent;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
}

	/*carousel*/

.item{
    text-align: center;
    height: 600px !important;
}

.bs-example{
	margin: 20px;
}

#carousel1 {
	color: black;
}

#carousel2 {
	color: black;
}

#carousel3 {
	color: black;
}

.carousel-control.left {
	background-image:none;
}

.carousel-control.right {
	background-image: none;
}

.carousel-control {
	color:grey;
}

.carousel-indicators li {
	background-color: grey;
	border: 1px solid grey;
}

.carousel-indicators .active {
	border: 1px solid grey;
}

	/*home*/

/*navbar*/

.navbar-default {
	border: none;
}

ul {
	list-style-type:none;
}


#home {
}

#screen {
	background-color: transparent;
	height: 600px;
	text-align: center;
}

#namesite {
	font-family: Futura;
	font-weight: bold;
	font-size: 3em;
	line-height: 300px;
}

#pitchline {
	font-family: Futura;
	font-size: 1.1em;
}

#short_name {
	font-weight: bold; 
}

#short_description {
	height: 104px;
	word-break: break-word;
	overflow: hidden;	
}

/*#main {
	margin-left: 100px;
}*/

/*cat search*/

#cat_search {
}

/*categories list*/

#categories_list {
}


	/*listing*/

#listing {
	margin-left: 60px;
	margin-right: 60px;
}

#listing a {
	color: black;
	display: block;
	margin-bottom: 20px;
	text-align: center;
	font-family: Open Sans;
	text-decoration: none;
}

#listing.col-sm-4 {
	width: 33.333%;
	padding-right: 20px;
}

img {
	border-radius: 4px;
}

th {
	font-family: Open Sans;
	font-weight: normal;
}

h1 {
	font-family: Open Sans;
	font-weight: normal;
	margin-left: 150px;
}

h2 {
	font-family: Open Sans;
	font-weight: normal;
}


form#new_user.new_user {
	margin-left: 150px;
}

form#new_project.new_project {
	margin-left: 100px;
	padding-top: 40px;
}

.padding-top {
	padding-top: 50px;
}

.pad-bot {
	padding-bottom: 2%;
}

.pad-top {
	padding-top:5%;
}

.center {
	text-align: center;
}

.border {
	border: solid blue 1px;
}


/*footer*/

#footer {
	margin-top: 80px;
    text-align: center;
    background-color: #E4FEFE;
	width: 100%;
	height: 150px;
}

#footer a {
	margin-top: 20px;
	color: black;
	text-align: center;
	font-family: Open Sans;
	text-decoration: none;
}


/*new project*/

#skillstools {
	display: -webkit-inline-box;
}


/*show project*/

.panel-default {
	border-color: none;
}

.panel {
	margin-bottom: 20px;
	background-color: #F8FFFF;
	border: none;
	border-radius: 4px;
	box-shadow: none;
}

.panel-default > .panel-heading {
	margin-bottom: 25px;
	border-bottom: none;
	background-color: transparent;
	border-color: transparent;
}

#show_project {
	margin-top: 50px;
}

#show_project_title {
	text-align: center;
	font-size: 30px;
	font-weight: 500;
}

#show_project_desc {
	text-align:justify;
}

div.container-fluid {
	font-family: Open Sans;
}

.well {
 	background-color: white;
 	border: none;
 	box-shadow: none;
 }

#project_name {
}

#project_description {
	height: 100px;
}

#new_skill {
	display: inline-block;
}

#new_tool {
	display: inline-block;
}

div.btn.btn-default {
	border: none;
}

div.btn.btn-default:hover {
	border: none;
	background-color: white;
}

div #volunteer.btn {
	background-color: #ff7264;
}

/*edit user*/

.edit_user {
	margin-left: 150px;
}

form.button_to {
	text-align: center;
}

/*signup*/

input#user_name.form-control {
}

input#user_password_confirmation.form-control {
}

/*login*/

input#user_email.form-control {
}

input#user_password.form-control {
}

