/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


.row {
	margin-left: 0px;
	margin-right: 0px;
}

	/*carousel*/

.item{
    text-align: center;
    height: 600px !important;
}

.bs-example{
	margin: 20px;
}

#carousel1 {
	color: white;
}

#carousel2 {
	color: white;
}

#carousel3 {
	color: white;
}

	/*home*/

#home_header {
	height: 600px;
	background-color: blue;
}

#home_header a {
	color: white;
	display: block;
	margin-top: 60px;
	margin-bottom: 30px;
	text-align: center;
	font-family: Avenir;
	text-decoration: none;
}
#home {
	padding-left: 100px;
}

#screen {
	background-color: red;
	height: 600px;
	text-align: center;
}

#namesite {
	font-family: Lobster;
	font-weight: bold;
	font-size: 3em;
	line-height: 300px;
}

#pitchline {
	font-family: Lobster;
	font-size: 1.1em;
}



#short_description {
height: 104px;
word-break: break-word;
overflow: hidden;	
}

/*#main {
	margin-left: 100px;
}*/

	/*listing*/

#listing a {
	color: black;
	display: block;
	margin-top: 60px;
	margin-bottom: 30px;
	text-align: center;
	font-family: Avenir;
	text-decoration: none;
}

th {
	font-family: Avenir;
	font-weight: normal;
}

h1 {
	font-family: Avenir;
	font-weight: normal;
	margin-left: 150px;
}

h2 {
	font-family: Avenir;
	font-weight: normal;
	margin-left: 150px;	
}

h3 {
	font-family: Avenir;
	font-weight: normal;
	margin-left: 150px;
}

form#new_user.new_user {
	margin-left: 150px;
}

form#new_project.new_project {
	margin-left: 150px;
}

.padding-top {
	padding-top: 50px;
}

.pad-bot {
	padding-bottom: 2%;
}

.pad-top {
	padding-top:5%;
}

.center {
	text-align: center;
}

.border {
	border: solid blue 1px;
}


/*footer*/

#footer {
 	border-top: solid blue 1px;
    text-align: center;
    /*position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;*/
}

#footer a {
	color: black;
	text-align: center;
	font-family: Avenir;
	text-decoration: none;
}

/*show project*/

#show_project {
	margin-top: 50px;
}

#show_project_title {
	text-align: center;
	font-size: 30px;
	font-weight: 500;
}

div.container-fluid {
	font-family: Avenir;
}
